FGChaos/bin/Debug/net6.0/
FGChaos/obj/Debug/net6.0/
FGChaos/obj/Debug/net6.0/ref
FGChaos/obj/Debug/net6.0/refint
FGChaos/bin/Release/net6.0/
FGChaos/obj/Release/net6.0/
FGChaos/obj/Release/net6.0/ref
FGChaos/obj/Release/net6.0/refint

